body{
    font-family: "Jura", serif;
    background: url('../public/fon.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    overflow: hidden;
}